// app global css in SCSS form

.q-field__label {
	font-size: 24px;
}

.q-field__native {
	font-size: 18px;
}

.q-card {
	display: flex;
	height: 66vh;
	justify-content: center;
	/* align-items: center; */
}